:root.theme-dark {
  --page-bg-color: var(--indicative-black);
  --accent-color: var(--actual-red);
  --title-color: #db00ff;
  --header-text-bg-color: var(--actual-red);
  --header_text-color: var(--indicative-black);
  --question-bg-color: var(--indicative-black);
  --question-color: var(--actual-red);
  --replay-title-bg-color: var(--actual-red);
  --replay-title-color: var(--indicative-black);
  --replay-text-bg-color: var(--indicative-black);
  --replay-text-color: #f1b2ce;
  --council-title-bg-color: var(--actual-red);
  --council-title-color: var(--indicative-black);
  --button-color: var(--actual-red);
  --rec-color: var(--actual-red);
  --border-color-opacity: #ff007066;
  --background-image: url("../images/cover-image-dark.png");
  --deco-color: var(--actual-red);
}

@media (prefers-color-scheme: dark) {
  :root {
    --page-bg-color: var(--indicative-black);
    --accent-color: var(--actual-red);
    --title-color: #db00ff;
    --header-text-bg-color: var(--actual-red);
    --header-text-color: var(--indicative-black);
    --question-bg-color: var(--indicative-black);
    --question-color: var(--actual-red);
    --replay-title-bg-color: var(--actual-red);
    --replay-title-color: var(--indicative-black);
    --replay-text-bg-color: var(--indicative-black);
    --replay-text-color: #f1b2ce;
    --council-title-bg-color: var(--actual-red);
    --council-title-color: var(--indicative-black);
    --button-color: var(--actual-red);
    --rec-color: var(--actual-red);
    --border-color-opacity: #ff007066;
    --background-image: url("../images/cover-image-dark.png");
    --deco-color: var(--actual-red);
  }

  .rec_empty::before {
    display: inline-block;
  }

  .rec_empty::after {
    display: inline-block;
  }
}

.theme-dark .rec_empty::before {
  display: inline-block;
}

.theme-dark .rec_empty::after {
  display: inline-block;
}
