:root.theme-light {
  --accent-color: var(--regular-pink);
  --title-color: var(--title-pink);
  --page-bg-color: var(--almost-white-bg);
  --header-text-bg-color: var(--regular-pink);
  --header-text-color: var(--almost-black);
  --question-bg-color: var(--almost-white-bg);
  --question-color: var(--almost-black);
  --replay-title-bg-color: var(--regular-pink);
  --replay-title-color: var(--almost-black);
  --replay-text-bg-color: var(--almost-white-bg);
  --replay-text-color: var(--almost-black);
  --advice-title-bg-color: var(--regular-pink);
  --advice-title-color: var(--almost-black);
  --button-color: var(--almost-black);
  --border-color-opacity: #32312d;
  --background-image: url("../images/cover-image-light.png");
  --deco-color: var(--almost-black);
}

@media (prefers-color-scheme: light) {
  :root {
    --accent-color: var(--regular-pink);
    --title-color: var(--title-pink);
    --page-bg-color: var(--almost-white-bg);
    --header-text-bg-color: var(--regular-pink);
    --header-text-color: var(--almost-black);
    --question-bg-color: var(--almost-white-bg);
    --question-color: var(--almost-black);
    --replay-title-bg-color: var(--regular-pink);
    --replay-title-color: var(--almost-black);
    --replay-text-bg-color: var(--almost-white-bg);
    --replay-text-color: var(--almost-black);
    --council-title-color: var(--almost-black);
    --button-color: var(--almost-black);
    --border-color-opacity: #32312d;
    --background-image: url("../images/cover-image-light.png");
    --deco-color: var(--almost-black);
  }
}

.theme-light .rec_empty::before {
  display: none;
}

.theme-light .rec_empty::after {
  display: none;
}
